* {
  margin:0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: row;
  /* justify-content: center; */
}

.app__header {
  /* this help the position of the border to stick at one place  */
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
/* padding is inside space */
/* margin is outside space  */

.app__headerImage {
  object-fit: contain;
  background-color: white;
  width:200px;
  height:60px;
  
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__headerImage {
  object-fit: contain;
}